@{
    ViewBag.Title = "Opis projekta";
    ViewBag.Message = "Ukratko ćemo se osvrnuti na Top 10 WASP metoda napada web aplikacija. Zatim ćemo spomenuti nekolicinu poznatih i pouzdanih sigurnosnih rješenja.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Prilikom razvoja web aplikacija, posebna pažnja posvećuje se sigurnosti. Razvoj tehnologija i znanja na području izrade aplikacija za sobom povlači i negativne posljedice. Sve češće u medijima slušamo o curenju podataka, hakerima i kibernetičkim napadima. Kako bismo spriječili napade na našu web aplikaciju, potrebno je razmotriti tko bi mogao biti prijetnja aplikaciji i podacima koje ona sadrži, kakvi bi se napadi mogli izvršiti i što bi bio cilj napada. Ovo su samo neka od pitanja na koja je potrebno dati odgovor kada se radi na sigurnosnom aspektu web aplikacije. Tema ovog rada su moderni sigurnosni mehanizmi koji se koriste prilikom razvoja web aplikacija, stoga će u radu biti prikazan pregled postojećih mehanizama koji se danas koriste, ali i vlastiti primjer takvog mehanizma.</p>
