@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>MODERNI SIGURNOSNI MEHANIZMI PRAKSE U RAZVOJU WEB APLIKACIJE</h2>
    <p class="lead">Projekt iz kolegija Sigurnost informacijskih sustava</p>
    <p><a href="https://github.com/Beertija/MVCApp_SIS" class="btn btn-primary btn-lg">Git repository &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Napravili:</h2>
        <p>Tomislav Ogrinec, 0016135746</p>
        <p>Matea Valenta, 0016135858</p>
        <p>Dora Zamuda, 0016137345</p>
        <p>Benjamin Filip Šikač, 0016136096</p>
    </div>
    <div class="col-md-4">
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Mentor:</h2>
        <p>Doc. dr. sc. Tomičić Igor</p>
    </div>
</div>